<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Null jaja</title>
</head>

<body>
	<main>
		<h1>Bienvenido</h1>
		<a href="/productos">Productos</a>
		<a href="/tabla-productos">Tabla de Productos</a>
	</main>


</body>

</html>
