<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Productos</title>
</head>

<body>
	<main>
		<h1>Productos</h1>

		<div id="contenedor_productos">
			<p id="mensaje_estado">Cargando productos...</p>
			<ul id="lista_productos"></ul>
		</div>

		<hr>

		<div>
			<h3>Agregar productos</h3>

			<form id="agregar_producto" enctype="multipart/form-data">
				<label for="nombre_del_producto">Nombre del producto:</label>
				<input type="text" id="nombre_del_producto" name="nombre_del_producto" required>

				<label for="precio_del_producto">Precio:</label>
				<input type="number" id="precio_del_producto" name="precio_del_producto" required>

				<label for="stock_del_producto">Stock:</label>
				<input type="number" id="stock_del_producto" name="stock_del_producto" required>

				<label for="descripcion_del_producto">Descripción:</label>
				<textarea id="descripcion_del_producto" name="descripcion_del_producto"></textarea>

				<label for="imagen_del_producto">Imagen:</label>
				<p>No implementado</p>
				<button type="submit">Agregar Producto</button>
			</form>

		</div>
	</main>

	<script src="/scripts/dom-loader.js" type="module"></script>
</body>

</html>
