<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Productos</title>
</head>

<body>
	<main>
		<h1>Productos</h1>

		<div id="contenedor_productos">
			<p id="mensaje_estado">Cargando productos...</p>
			<ul id="lista_productos"></ul>
		</div>

		<hr>

		<div>
			<h3>Agregar productos</h3>
			
			<form id="form_agregar_producto">
				
				<!-- podríamos pasar un array con lo atributos de los productos y que es
				 se genere dinamicamente-->
				<label for="nombre_del_producto">Nombre del producto:</label>
				<input type="text" id="nombre_del_producto" name="nombre_del_producto" required>
				
				<label for="precio">Precio:</label>
				<input type="text" id="precio" name="precio" required>
				
				<label for="cantidad">Cantidad:</label>
				<input type="text" id="cantidad" name="cantidad" required>
				
				<label for="descripcion">Descripcion:</label>
				<input type="text" id="descripcion" name="descripcion">

				<label for="imagen">Imagen del productos:</label>
				<input type="text" id="imagen" name="imagen">
				
				<button type="submit">Agregar Producto</button>
			</form>

		</div>
	</main>

	<script src="/scripts/dom-loader.js" type="module"></script>
</body>

</html>
