<!doctype html>
<html lang="es">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Productos</title>
</head>

<body>
	<main>
		<h1>Productos</h1>

		<div id="contenedor_productos">
			<p id="mensaje_estado">Cargando productos...</p>
			<ul id="lista_productos"></ul>
		</div>

		<hr>

		<div>
			<h3>Agregar productos</h3>
			<form id="agregar_producto">
				<label for="nombre_del_producto">Nombre del producto:</label>
				<input type="text" id="nombre_del_producto" name="nombre_del_producto" required>
				<button type="submit">Agregar Producto</button>
			</form>
		</div>
	</main>

	<script src="/scripts/borrar-producto.js" type="module"></script>
	<script src="/scripts/cargar-productos.js" type="module"></script>
</body>

</html>
