<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="./styles/home.css">
		<link rel="stylesheet" href="./styles/globals.css">
		<title>TeroX Marketplace</title>
	</head>

	<body>
		<nav id="nav-bar">
		</nav>
		<main>
			<h2>Edita tu Usuario</h2>
			
			<form id="pedido_de_edicion_usuario">
			</form>

			<form id="form_cuil">
			
			<h2>Edita/Ingresa tu CUIL</h2>
			</form>
			
			<h2>Elimina tu usuario</h2>
			<div>
				<button id="pedido_de_borrado_usuario" type="button">Eliminar Usuario</button>
			</div>
		</main>

		<script type="module" src="/scripts/loaders/dom-loader-editar-usuario.js"></script>
	</body>
</html>
