<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="./styles/home.css">
	<title>TeroX Marketplace</title>
</head>

<body>
	<nav id="nav-bar">
	</nav>
	<main>
		<h1>Edita tu Usuario</h1>

	</main>

	<script type="module" src="/scripts/loaders/dom-loader-editar-usuario.js"></script>
</body>

</html>
