<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="./styles/home.css">
	<link rel="stylesheet" href="./styles/globals.css">
	<meta name="viewport" content="width=device-width">
	<title>TeroX Marketplace</title>
</head>

<body>
	<nav id="nav-bar">
	</nav>
	<input id="search-bar" type="text" onkeyup="filtrarBusqueda()" placeholder="Buscar producto..." title="Introduzca un nombre o usuario">
	<main>
		<h1>Bienvenido a Terox MarketPlace</h1>
		<h3>Nuestros Productos:</h3>

		<div id="contenedor_productos">
			<p id="mensaje_estado">Cargando productos...</p>
			<ul id="lista_productos"></ul>
		</div>
	</main>
	<script src="/scripts/loaders/dom-loader-index.js" type="module"></script>
	<script>
	function filtrarBusqueda() {
		const barra = document.getElementById("search-bar");
		const contenido_barra = barra.value.toUpperCase();
		const lista_productos = document.getElementById("lista_productos");
		const productos = lista_productos.getElementsByTagName("li");
		for (var i = 0; i < productos.length; i++) {
			const elemento_nombre = productos[i].getElementsByTagName("p")[0];
			const nombre = elemento_nombre.textContent.toUpperCase();
			if (nombre.indexOf(contenido_barra) > -1) {
				productos[i].style.display = "flex";
			} else {
				productos[i].style.display = "none";
			}
		}
	}
	</script>
</body>

</html>
