<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="./styles/home.css">
		<link rel="stylesheet" href="./styles/globals.css">
		<meta name="viewport" content="width=device-width">
		<title>TeroX Marketplace</title>
	</head>

	<body>
		<nav id="nav-bar">
		</nav>

		<main>
			<h1>Bienvenido a Terox MarketPlace</h1>
			<h3>Nuestros Productos:</h3>

			<div id="contenedor_productos">
				<p id="mensaje_estado">Cargando productos...</p>
				<ul id="lista_productos"></ul>
			</div>
		</main>
		<script src="/scripts/dom-loader-index.js" type="module"></script>
	</body>
</html>
