<!DOCTYPE html>
<html lang="es">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="./styles/home.css">
		<link rel="stylesheet" href="./styles/globals.css">
		<title>TeroX Marketplace</title>
	</head>

	<body>

		<nav id="nav-bar">
		</nav>

		<main>
			<h1>Productos</h1>

			<div id="contenedor_productos">
				<p id="mensaje_estado">Cargando productos...</p>
				<ul id="lista_productos"></ul>
			</div>

			<hr>

			<div>
				<h3>Agregar productos</h3>

				<form id="form_agregar_producto">

				</form>

				<div id="upload_section">
					<input id="imagen_input" type="file" name="imagen" accept="image/*">
				</div>
			</div>
		</main>

		<script src="/scripts/dom-loader-home.js" type="module"></script>
	</body>
</html>


<!--<label for="nombre">Nombre del producto:</label>
<input type="text" id="nombre" name="nombre" required>

<label for="precio">Precio:</label>
<input type="text" id="precio" name="precio" required>

<label for="stock">Cantidad:</label>
<input type="text" id="stock" name="stock" required>

<label for="descripcion">Descripcion:</label>
<input type="text" id="descripcion" name="descripcion">

<button type="submit">Agregar Producto</button> -->
