* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.card-item {
    background-color: #1d1a20;
    padding: 1rem;
    border-radius: 1rem;
    width: 30rem;

    color: #e5e6e8;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 0;
    flex-grow: 0.4;
    gap: 1rem;
    overflow: hidden;
}
