* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 2rem;
    text-decoration: none;
    color: black;
}

.card-item {
    background-color: #1d1a20;
    padding: 1rem;
    border-radius: 1rem;
    width: 20rem;

    color: #e5e6e8;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    flex: 0 1 calc(25% - 20px);
    min-width: 250px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

@media (max-width: 1200px) {
    .producto-item { flex-basis: calc(33.333% - 20px); } /* 3 por fila */
}

@media (max-width: 768px) {
    .producto-item { flex-basis: calc(50% - 20px); } /* 2 por fila */
}

@media (max-width: 480px) {
    .producto-item { flex-basis: 100%; } /* 1 por fila */
}